@page "/signins/create"

@using Microsoft.EntityFrameworkCore
@using Food_Exp_Reminder.Model
@inject IDbContextFactory<Food_Exp_Reminder.Data.Food_Exp_ReminderContext> DbFactory
@inject NavigationManager NavigationManager


<title>Sign Up</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/util.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->

<style>
    .login100-form-bgbtn {
        background: #ffb03b;
    }

    .wrap-login100-form-btn:hover .login100-form-bgbtn {
        background: #e09e34;
    }
</style>






<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>SignIn</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="SignIn" OnValidSubmit="AddSignIn" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="wrap-input100 validate-input m-b-23">
                <label for="firstname" class="form-label">firstName:</label> 
                <InputText id="firstname" @bind-Value="SignIn.firstName" class="form-control" /> 
                <ValidationMessage For="() => SignIn.firstName" class="text-danger" /> 
            </div>        
            <div class="wrap-input100 validate-input m-b-23">
                <label for="secondname" class="form-label">secondName:</label> 
                <InputText id="secondname" @bind-Value="SignIn.secondName" class="form-control" /> 
                <ValidationMessage For="() => SignIn.secondName" class="text-danger" /> 
            </div>        
            <div class="wrap-input100 validate-input">
                <label for="email" class="form-label">Email:</label> 
                <InputText id="email" @bind-Value="SignIn.Email" class="form-control" /> 
                <ValidationMessage For="() => SignIn.Email" class="text-danger" /> 
            </div>        
            <div class="wrap-input100 validate-input">
                <label for="password" class="form-label">Password:</label> 
                <InputText id="password" @bind-Value="SignIn.Password" class="form-control" /> 
                <ValidationMessage For="() => SignIn.Password" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Register</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/signins">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private SignIn SignIn { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddSignIn()
    {
        using var context = DbFactory.CreateDbContext();
        context.SignIn.Add(SignIn);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/signins");
    }
}
